<section id="cod-order-placed" class="order details-details">
  <div class="row">
    <h1 class="display-2 my-4 mx-5 text-success">
      <span>
        <i class="bi bi-check-circle-fill"></i>
      </span>
      Order Placed, thank you!
    </h1>
    <p class="fw-light my-3 mx-5">Confirmation will be sent to your email.</p>
    <a
      class="fw-light my-3 mx-5 text-dark fw-bold"
      href="/user/my-orders"
    >Review or edit your recent orders</a>
  </div>
</section>